<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DnD4e_Combat_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DnD4e_Combat_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <DnD4e_Combat_Manager.My.MySettings>
            <setting name="sLibraryFileName" serializeAs="String">
                <value>statlibrary.dnd4</value>
            </setting>
        </DnD4e_Combat_Manager.My.MySettings>
    </applicationSettings>
    <userSettings>
        <DnD4e_Combat_Manager.My.MySettings>
            <setting name="bHR_UseModRoles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOngoingPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="htmlDisplayHeroHP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="htmlDisplayOtherHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="htmlDisplayRound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="htmlDisplayInit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRollEffectSaves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRollPowerRecharge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSurpriseRound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bGroupSimilar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAutoCompendium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="htmlPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="bWhiteMonsterBGs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bSurgePlusPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAutoSurge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
        </DnD4e_Combat_Manager.My.MySettings>
    </userSettings>
</configuration>
